{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        <a class="back-button icon-arrow-left" href="{{@blog.url}}">Home</a>
        <a class="custom-button" href="{{@blog.url}}/author/">Author</a>
        <a class="custom-button" href="{{@blog.url}}/notes/">Compendia and notes</a>
    </nav>
</header>

<main class="content" role="main">

    <article class="{{post_class}}">
    {{! Everything inside the #post tags pulls data from the post }}

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
        </header>

        <section class="post-content">
            {{content}}
        </section>
        <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'hawkguru'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    </article>

</main>
{{/post}}
